<div>
  <table class="formTbl contents">
    <tbody>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name_cont %></td>
      </tr>
      <tr>
        <th><%= f.label :start_date %></th>
        <td><%= f.text_field :start_date_gteq %></td>
      </tr>
    </tbody>
  </table>
</div>
