<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.display_name %></h1>
    <p>
      Please write report!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
