Dear <%= @user.display_name %>,<br /><br />

HR Department has sent you the payslip of <%= @payslip.paymonth_format("%b %Y") %><br />
Please kindly find the attachment in this e-mail and check it carefully.<br />

<p style="font-weight:bold;">Do not reply to this automatically-generated email.</p>
If you have any feedback, please feel free to contact Ms NgocNTM at nguyen.thi.minh.ngoc@framgia.com before <%= @deadline.strftime("%H:%M %b #{@deadline.day.ordinalize} %Y") %><br />
--<br />
Thanks and best regards,<br />
===============================<br />
HR Department<br />
Framgia Vietnam Co., Ltd<br />
9F Viet A Building, Duy Tan street, Cau Giay district, Hanoi, Vietnam<br />
Mail: hr@framgia.com<br />
Tel: 84 4 3795 5417<br />
