<div>
  <table class="formTbl contents">
    <tbody>
      <tr>
        <th width="15%"><%= f.label :email %></th>
        <td><%= f.text_field :email_cont %></td>
      </tr>
      <tr>
        <th><%= f.label :cardID %></th>
        <td><%= f.text_field :cardID_cont %></td>
      </tr>
    </tbody>
  </table>
</div>
