<% if object && object.errors.any? %>
  <div id="error_explanation" class="alert alert-error update_errors">
    <ul style="text-align: left;">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
