<a href="<%= user_path(user) %>" class="profile_link">
  <div class="profile">
    <div class="avatar"><%= image_tag user.avatar_url %></div>
    <div class="display_name">
      <span>
        <%= user.display_name %>
      </span>
    </div>
  </div>
</a>
