<selection class="margintop_20px">
  <div class="margintop_20px">
    <div class="left_menu" style="">
      <div class="border">
      </div>
    </div>

    <div class="right_body">
      <div class="search ctsTit">
        <%= form_for @search, url: users_path, html: {method: :get, id: 'search_by_name_form'} do |f| %>
          <%= f.text_field :display_name_cont, placeholder: "Input name to search" %>
        <% end %>
      </div>
      <div class="block users">
        <% @users.each do |user| %>
          <%= render "user_box", user: user %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @users %>
  </div>
</selection>
