<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>
<div class="link">
  <a href="<%= export_excel_projects_path(format: "xls") %>" class="link-a">
    <i class="icon_excel icon"></i><span>Export to excel</span>
  </a>
</div>
<div class="gantt"></div>
