.survey{
    background-color: #FFFFFF;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
    td {
      padding-top: 10px;
    }

    td.labels{
      padding-left: 5%;
    }
}

.ranking{
    background-color: #FFFFFF;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
    td {
      padding-top: 10px;
    }
}

