.ctsTit{
  background-color:#FF8B75;
}
.btn-primary{
  background-color: #EF4423;
  background-image: linear-gradient(to bottom,#FC7676, #ef4423);
  &:hover {
    background-color: #EF4423;
  }
}
.btn-warning{
  padding: 6px 20px;
  font-size: 17px;
}