.border_blue{
  border: 2px solid blue;
}
.avatar{
  cursor: pointer;
  width: 50px;
  height: 50px;
}
a:hover {
  color: red;
  position: relative;
}
a[data]:hover:after {
  content: attr(data);
  font-size: 15px;
  padding: 5px 5px;
  color: #FFF;
  position: absolute;
  left: 0;
  top: -45px;
  white-space: nowrap;
  z-index: 2;
  border-radius: 5px;
  background: #000;
}

.month_div{
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: 1px solid #DDDDDD;
  border-collapse: separate;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ef5555;
  &:hover{
    color: black;
  }
}
.week_div{
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #DDDDDD;
  border-collapse: separate;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ff8b75;
}
.report_week{
  margin-left: 15px;
}

.tag-badge {
  border-radius: 11px 11px 11px 11px;
  color: #007AB3;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  margin: 3px 4px 3px 0;
}

.ui-tag-container .tag-badge .tag-name {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 11px 0 0 11px;
}

.tag-badge .tag-name {
    background-color: #F2F2F2;
    border-radius: 11px 11px 11px 11px;
    color: #007AB3;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
}

.ui-tag-container .tag-badge .ico-area.cancel {
    background-color: #F2F2F2;
    border-radius: 0 11px 11px 0;
    padding: 4px 5px 0 0;
}
.tag-badge .ico-area {
    border-radius: 11px 11px 11px 11px;
    cursor: pointer;
    height: 16px;
    padding: 5px 0 0 5px;
}
.ico-area {
    display: block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

i.cancel_tag {
    background: url("/assets/ico_tag_delete.png");
    display: inline-block;
    text-indent: -9999pt;
    vertical-align: middle;
}

.special {
    position: relative;
    width: 40px;
}

.report_create {
  float: left;
  background: #ff8b75;
  width: 602px;
  padding-left: 15px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.chart {
  float: right;
  text-align: center;
}

.chart a {
  padding-left: 25px;
  width: 90px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  background:#10525e url(/assets/chart.png) no-repeat 7px 8px;
}

.chart a:hover {
  background:#333 url(/assets/chart.png) no-repeat 7px 8px;
}

.search_or_create_form {
  margin-top: 20px;
}

.tab ul li {
  display:inline-block;
}

.form_create {
  background:#fff;
  border:#c8c8c8 solid 1px;
  margin:60px 0px 0px 0px;
}

.tab ul li a {
  display:inline-block;
  text-decoration:none;
  background:#fff;
  padding:20px 25px;
}

.tab ul li.active {
  a {
    background: #ff8b75;
  }
}

.tab ul li a:hover {
  background:#f5f5f5;
}

.form_create table {
  margin-top: 40px;
}

.td1 {
  font-size: 14px;
  vertical-align: middle ! important;
  width: 100px;
  vertical-align: text-top;
  text-align: right;
  padding: 0px 30px 15px 30px;
}

.form_create input[type=text], .form_create textarea {
  margin-bottom: 15px;
  width: 500px;
  height: 30px;
  border: 1px solid #d5d5d5;
}

.form_create textarea {
  padding-right: 12px;
  height: 120px;
}

.line01 {
  height: 1px;
  background: #d5d5d5;
}

#show {
  margin-bottom: 13px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #666;
  font-style: italic;
  font-size: 14px;
  margin-right: 10px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -4px 4px 0 0;
  vertical-align:middle;
  background:url(/assets/check.png) 0px top no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + label span {
  background:url(/assets/check.png) -20px top no-repeat;
}

#list_report {
  margin-top: 30px;
}

.edit {
  margin-top: 10px;
}

.ctsTit h2 {
  padding: 15px 15px;
  font-size: 20px;
}

.team_name {
  background: white;
  border-bottom: solid 1px rgb(230, 115, 61);
  font-size: 13px;
  padding-top: 10px;
}