.border_blue{
  border: 2px solid blue;
}
.avatar{
  cursor: pointer;
  width: 50px;
  height: 50px;
}
a:hover {
  color: red;
  position: relative;
}
a[data]:hover:after {
  content: attr(data);
  font-size: 15px;
  padding: 5px 5px;
  color: #FFF;
  position: absolute;
  left: 0;
  top: -45px;
  white-space: nowrap;
  z-index: 2;
  border-radius: 5px;
  background: #000;
}

.month_div{
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: 1px solid #DDDDDD;
  border-collapse: separate;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #1d90ad;
  &:hover{
    color: black;
  }
}
.week_div{
  padding: 5px 5px;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #DDDDDD;
  border-collapse: separate;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #BDE7E0;
}
.report_week{
  margin-left: 15px;
}

.tag-badge {
  border-radius: 11px 11px 11px 11px;
  color: #007AB3;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  margin: 3px 4px 3px 0;
}

.ui-tag-container .tag-badge .tag-name {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 11px 0 0 11px;
}

.tag-badge .tag-name {
    background-color: #F2F2F2;
    border-radius: 11px 11px 11px 11px;
    color: #007AB3;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
}

.ui-tag-container .tag-badge .ico-area.cancel {
    background-color: #F2F2F2;
    border-radius: 0 11px 11px 0;
    padding: 4px 5px 0 0;
}
.tag-badge .ico-area {
    border-radius: 11px 11px 11px 11px;
    cursor: pointer;
    height: 16px;
    padding: 5px 0 0 5px;
}
.ico-area {
    display: block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
}

i.cancel_tag {
    background: url("/assets/ico_tag_delete.png");
    display: inline-block;
    text-indent: -9999pt;
    vertical-align: middle;
}

.special {
    position: relative;
    width: 40px;
}

