.left_menu{
  width: 20%;
  display: inline-block;
}
.right_body{
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  width: 751px;
}
.border{
  border: 2px solid #eeeeee;
  border-collapse: separate;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.user_info{
  margin: 5px 5px;
  height: 250px;
  img{
    display:block;
    margin:auto;
    align: middle;
  }
  .information{
    font-size: 14px;
    display: table;
    margin-left: 5px;
    p{
      padding-top: 5px;
    }
  }
}
.team{
  margin: 5px 5px;
}
.title_div{
  font-size: 16px;
  padding: 2px 4px;
  font-weight: bold;
  background-color: #eeeeee;
  line-height: 2em;
}
.text{
  word-break: break-word;
}
.margintop_20px{
  margin-top: 50px;
}
.menu {
  margin-left: 16px;
  .btn-menu{
    width: 100px;
  }
}
a:hover{
  text-decoration: none;
}
.active{
  background: white;
  color: black;
}

.avatar{
  width: 50px;
  height: 50px;
  margin: 2px 2px;
}
.fix_position{
  position: fixed;
  left: 0;
  right: 0;
  top: 45px;
}

a.profile_link {
  color: #000000;
}
  
a.profile_link:hover {
  color: #000000;
}
  
a.profile_link:active {
  color: #000000;
}

.search {
  height: 40px;
  margin-left: 10px;
  input {
    margin: auto;
    margin-left: 5px;
  }
}

.users {
   display: inline-table;
   border-radius: 6px;
   webkit-border-radius: 6px;
   width: 100%;
}

.profile {
  width: 160px;
  height: 180px;
  margin: 10px;
  float: left;
  background-color: white;
  display: inline;
  position: relative;
  text-align: center;
  .avatar {
    width: 125px;
    height: 120px;
    padding-top:5px;
    margin:auto;
    img {
      width: 120px;
      height: 120px;
    }
  }

  .display_name {
    text-align: left;
    font-size: 12px;
    position: relative;
    bottom: 0px;
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
  }

  .display_position {
    text-align: left;
    font-size: 10px;
    position: relative;
    bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
  }
}

.left_mnu {
  width: 185px;
  background-color: white;
  
  th {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    line-height: 20px;
    padding: 8px 5px;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    &:hover{
      padding: 8px 0px;
      background-color:#F5F5F5;
      line-height: 20px;
      text-align: left;
      vertical-align: middle;
      a{
        border-left: 3px solid #FF0034;
        color: red;
        font-size: 12px;
        padding: 11px 0px;
        padding-left: 6px;
      }
    }
  }
  td {
    cursor: pointer;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    font-size: 11px;
    text-decoration: none;
    vertical-align: middle;
    border-left: none;
    &:hover{
      padding: 8px 0px;
      background-color:#F5F5F5;
      line-height: 20px;
      text-align: left;
      font-size: 11px;
      vertical-align: middle;
      a{
        padding: 11px 0px;
        padding-left: 6px;
        border-left: 3px solid #FF0034;
        color: red;
      }
    }
  }
  tr.active {
    background-color:#FF7C79;
    th{
      border: none;
    }
    border-left: 3px solid #FF0034;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    font-size: 11px;
    vertical-align: middle;
    &:hover{
      border-left: none;
    }
  }
  a {
    color: #666;
    text-decoration: none;
  }
}

.hed_search {
    background-color: #FFFEFF;
    height: 40px;
    margin-left: 10px;
    width: 93.3%;
  input {
    margin: 5px;
    float:right;
    border-radius: 0px;
  }
}

.user_profile {
  background-color: #FFFEFF;
  width:100%;
  box-shadow: 1px 1px 3px black;
  th {
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    vertical-align: middle;
  }
  img {
    width: 190px;
    height: 190px;
    max-height: 250px;
    max-width: 250px;
  }
  td {
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    vertical-align: middle;
    padding-left:10px;
  }
  td.item {
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    font-size: 11px;
    vertical-align: middle;
    padding-left:10px;
    padding-bottom:10px;
  }

  div.user_group {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 11px;
    width: 90%;
  }
}

.lst_member {
  background-color: #ff8b75;
  margin-top:30px;  
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  color: #FFFEFF;
  vertical-align: middle;
  div {
    float: right;
    line-height: 40px;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
    color: #FFFEFF;
    height: 5px;
    padding-right: 10px;
  }
  span {
    border: 1px solid #FFFEFF;
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
    margin-left: 4px;
  }
}

.lst_member_bottom {
  background-color: #FFFEFF;
  padding: 5px 5px;
  text-align: center;
  div.member_item {
    padding:3px;
  }
  img.member_avatar {
    border-radius: 6px 6px 6px 6px;
    width:50px;
    height:50px;
  }
}

.notice_top {
  background-color: #FFFEFF;
  box-shadow: 1px 1px 3px #D6D6D6;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  padding: 5px 15px;
  margin-left:10px;
  border: 1px solid #D6D6D6;
}

.notice_bottom {
  background-color: #FFFEFF;
  box-shadow: 1px 1px 3px #D6D6D6;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  padding: 5px 15px;
  margin-left:10px;
  border: 1px solid #D6D6D6;
  margin-top: 30px;
}

.notice_content {
  background-color: #FFFEFF;
  box-shadow: 1px 1px 3px #D6D6D6;
  font-size: 13px;
  line-height: 40px;
  padding: 5px 15px;
  margin-left:10px;
  max-height: 500px;
  border: 1px solid #D6D6D6;
  div.content_item {
    border-bottom: 1px solid #D6D6D6;
    padding: 15px;
  }
}

.notice_bottom_content {
  background-color: #FFFEFF;
  box-shadow: 1px 1px 3px #D6D6D6;
  margin-left:10px;
  border: 1px solid #D6D6D6;
  padding: 5px;
  div.bottom_item {
    display: inline-block;
    padding: 10px;
  }
  img {
    border-radius: 6px 6px 6px 6px;
    width:120px;
    height:120px;
  }
  
}

.margin a:hover{
  color: white;
}

.account_settings{
  background: white;
  list-style-type: none;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;

  .attributes {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    border-top: 1px solid #E9E9E9;
    &:hover{
      background: #F2F2F2;
    }
  }
  .title_settings{
    display: inline-block;
    width: 175px;
  }
  .content_settings{
    width: 500px;
    text-align: left;
    display: inline-block;
    color: gray;
  }
  .edit_settings{
    display: inline-block;
    text-align: center;
    float: right;
    &:hover {
      a {
        text-decoration: underline;
      }
      .edit_icon {
        display: inline-block;
      }
    }
    .edit_icon {
      display: none;
      padding-right: 5px;
      background-image: url("/assets/icon_edit.png");
      background-size: auto;
      background-repeat: no-repeat;
      height: 16px;
      width: 16px;
    }
  }
  .bold{
    font-weight: bold;
  }
  .data_settings{
    display: none;
    .member_avatar{
      line-height: 1em;
    }
  }
  .btn-cance{
    margin: 5px;
  }
  .active{
    background: #F2F2F2;
  }
}

.gender_radio {
  display: block;
}