<div class="nav-collapse">
  <ul class="nav">
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown">Menu</a>
      <ul class="dropdown-menu">
        <li></li>
      </ul>
    </li>
  </ul>
</div>
