<% if current_user && current_user.hr_role? %>
<div style="margin-left:200px"class="nav-collapse">
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle logo" data-toggle="dropdown">
        <label><%= t(:manager, scope: [:views, :labels]) %></label>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% Settings.master_datas.each do |master_data| %>
        <li><%= link_to master_data.capitalize, url_for(controller: master_data.to_sym, action: :index) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
<% end %>
