<div class="menu">
  <a href="<%= user_path(current_user) %>" class="<%= 'menu_active' if model_name == 'User' && action_name == 'show' %>">
      Home
  </a>
  <a href="<%= url_for(controller: :reports, action: :index) %>" class="<%= 'menu_active' if model_name == 'Report'%>">
      Daily report
  </a>
</div>
