<% if current_user && current_user.hr_role? %>
  <ul>
    <li>
      <a class="<%= 'selected' if Settings.master_datas.include? controller_name %>">
        <%= t(:manager, scope: [:views, :labels]) %>
      </a>
      <ul>
        <% Settings.master_datas.each do |master_data| %>
        <li><%= link_to master_data.capitalize, url_for(controller: master_data.to_sym, action: :index) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>